<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheet/style.css">
  <title>SNN</title>
</head>

<body>
  <div id="bg"></div>
  <div class="nav">
    <div class="headline">
      <h1>SNN</h1>
      <h5>Fully Scraped, Fully Not Fake</h5>
    </div>
    <div class="saved">
      <a id="view-saved">Saved Articles</a>
    </div>
    <div class="menu">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">API</a></li>
      </ul>
    </div>
  </div>

  {{{body}}}


  <footer>
    <div class="footer-content">
      <a href="https://github.com/jayjscotto/scraped-news-network">
        <h6>Scraped News Network on Github!</h6>
      </a>
    </div>
  </footer>

  <script src="/javascript/view_article.js"></script>
  <script src="/javascript/comment.js"></script>
</body>


</html>