<div class="main">
    {{#each articles}}
    <div class="article">
        <div class="title">
            <h4>{{title}}</h4>
        </div>
        <div class="link">
            <a href="{{link}}">
                Link
            </a>
            <a href="">Comment</a>
        </div>
    </div>
    {{/each}}
</div>