<div class="main">
    <h2>Today's Scraped News Network Articles...</h2>
    <hr>
    <div class="articles">
    {{#each articles}}
    <div class="article">
        <div class="title">
            <h4 class="article-title">{{title}}</h4>
        </div>
        <div class="buttons">
            <button class="save-article" data-link="{{link}}"> 
                Save Article
            </button>
        </div>
    </div>
    <hr>
    {{/each}}
    </div>
</div>