<div class="main">
    <h2>Today's Scraped News Network Articles...</h2>
    <hr>
    <div class="articles">
    {{#each articles}}
    <div class="article">
        <div class="title">
            <h4>{{title}}</h4>
        </div>
        <div class="buttons">
            <button class="modal-open" data-link="{{link}}">
                Link
            </button>
            <button href="">Comment</button>
        </div>
    </div>
    <hr>
    {{/each}}
    </div>
</div>

<div id="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h1></h1>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
         
        </div>
        <div class="modal-footer">
            <h3>Modal Footer</h3>
        </div>
    </div>
</div>